*{
    margin: 0;
}
body{
    text-align: center;
}
#info{
    padding-left: 10px;
    text-align: left;
    background-color: lightgrey;
}
.topnav{
  float: right;
}

/*links*/
a{ 
    color: white;
    padding-left: 5px;
    margin-right:  5px;
}
a:hover{
    color: blue;
    text-decoration: none;
}
#gitLink{
    color: green;
}

#gitLink:hover{
    color: blue;
}


.jumbotron{
    margin-top: 20px;
    margin-bottom: 10px;
    background-image: url(/res/bike.jpg);
    background-repeat: none;
}
h1{
    color: aliceblue;
    padding-left: 20px;
}
#aboutHeading{
    color: black;
}
#searchField{
    text-align: center;
}
.searchBtn:hover{
    background-color: white;
    color:blue;
}
p{
    color:black;
}

#contactInfo{
    text-align: left;
    margin-left: 100px;
}
.backBtn{
    text-align: right;
    margin-right: 100px;
    margin-top: 20px;
}

.btnBack:hover{
    background-color: white;
    color: green;
}